
{% load static %}

<html>
    <head>
        <title> Guido Guglielmana </title>
    </head>
        {% include 'backend/navbar.html' %}
        <body>
            <div>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                <h1>GUIDO GUGLIELMANA</h1>
                <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
                <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
            </div>
                <h4> Backend developing </h4>
                <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
        </body>
</html>

