{% load static %}


<div class="topnav">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <a class="active" href="/">Home</a>
    <a href="/portfolio">Portfolio</a>
    <a href="https://www.linkedin.com/in/guido-guglielmana-19b4b818a/" target= "_blank">LinkedIn</a>
    <a href="/news">News</a>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</div>


