{% load static %}

<html>
    <head>
        <title> Guido Guglielmana </title>
    </head>
        {% include 'backend/navbar.html' %}
        <body>
            <div>
                <br/>
                <form method="get" id="button-form"> 
                    {{ filter.form.as_p }}
                        <button type="submit">Search</button> 
                        </br>
                    {% for user in filter.qs %}
                        <li> <a href= {% url 'news_details' user.id %}>{{ user.title }} - {{ user.pub_date }}</a></li>
                    {% endfor %}
                </form>
                <div class="page-header">
                    <a class="top-menu"></a>
                    {% if user.is_authenticated %}
                        <h1><a href="{% url 'new_one' %}">Add News</a></h1>
                    {% endif %}
                </div>
                <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
                <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
                
            </div>
                <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">  
        </body>
</html>