{% load static %}

    {% include 'backend/navbar.html' %}

    <body>
        <h3>News Add</h3>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <link rel="stylesheet" type="text/css" href="{% static 'css/news_edit.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    </body>