{% load static %}

<html>
    <head>
        <title> Guido Guglielmana </title>
    </head>
        {% include 'backend/navbar.html' %}
        <body>
            {% if post.published_date %}
                <div class="date">
                {{ post.published_date }}
                </div>
            {% endif %}
                <h1>{{ posts.title }}</h1>
                <p>{{ posts.body }}</p>
                <img src= "{{ posts.image.url }}"/>
            
                <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
                <link rel="stylesheet" type="text/css" href="{% static 'css/news_detail.css' %}">
        </body>
</html>