{% load static %}

<html>
    <head>
        <title> Guido Guglielmana </title>
    </head>
        {% include 'backend/navbar.html' %}
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </body>
</html>