h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    color: white
}

h4 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 39px;
    max-width: 35px;
}

body {
    background-image: linear-gradient(60deg, #1073acd0, #000238);
}

form {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 39px;
}

code {
    font-family: monospace;
    font-size: 39px;
}