/* Add a black background color to the top navigation */

.topnav {
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    font-family: 'Oswald', sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    color: white;
}