p {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30;
}

body,
form,
img {
    background-image: linear-gradient(60deg, #1073acd0, #000238);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    color: white;
    position: center;
}