h2,
a {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;
}

form {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;
}

body {
    background-image: linear-gradient(60deg, #1073acd0, #000238);
}